header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Usm-logo {
  padding: 10px;
  display: flex;
  max-width: 300px;
  margin: 20px;
}

.layout__title {
  padding: 10px;
  margin: 20px;
  color: rgba(10, 10, 10, 0.6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
