.footer {
  background-color: #00456a;
  color: white;
  text-align: center;
  padding: 20px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  &__link {
    color: #e1f5fe;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #ffffff;
    }
  }
}
