.home-page {
  &__hero {
    position: relative;
    width: 100%;
    height: 60vh;

    .home-page__hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      padding: 0 20px;

      h1 {
        font-size: 3em;
        margin: 0 0 10px;
        font-weight: bold;
      }

      p {
        font-size: 1.3em;
        margin-bottom: 20px;
      }

      .home-page__cta-button {
        background-color: #005e90;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1em;
        transition: background-color 0.3s;
        &-link {
          text-decoration: none;
          color: white;
        }

        &:hover {
          background-color: #004f79;
        }
      }
    }
  }

  &__events,
  &__programs,
  &__testimonials,
  &__scholarships,
  &__faq {
    text-align: center;
    padding: 40px 20px;

    &-button {
      text-decoration: none;
      color: white;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }
  }

  &__events-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    .event-card {
      background: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 300px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      p {
        font-size: 1em;
        color: #555;
      }
    }
  }

  &__programs-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    .program-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f9f9f9;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      width: 300px;
      padding: 20px; // Añade un espacio alrededor del contenido
      text-align: center;
      justify-content: space-between; // Asegura el espacio entre los elementos
      transition: transform 0.3s;
      height: 100%; // Se asegura que todas las cards tengan la misma altura

      &__button {
        text-decoration: none;
        color: white;
      }

      &:hover {
        transform: scale(1.05);
      }

      &__image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        margin-bottom: 15px;
      }

      h3 {
        font-size: 1.5em;
        margin: 10px 0;
        min-height: 60px; // Añade una altura mínima para los títulos
      }

      p {
        font-size: 1em;
        color: #666;
        margin: 10px 0;
        flex-grow: 1; // Ocupa el espacio disponible entre el título y el botón
        display: flex;
        align-items: center; // Centra verticalmente el texto
        text-align: center;
        min-height: 60px;
      }

      button {
        background-color: #005e90;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        margin-top: auto;
        border-radius: 5px;
        width: 100%;
        align-self: stretch; // Ajusta el botón a la anchura completa de la tarjeta

        &:hover {
          background-color: #004f79;
        }
      }
    }
  }

  &__testimonials-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;

    .testimonial-card {
      flex: 0 0 300px;
      background: #f0f4f8;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      scroll-snap-align: start;
      text-align: left;
      position: relative;
      overflow: hidden;

      &::before {
        content: "“";
        font-size: 4em;
        color: #005e90;
        position: absolute;
        top: -10px;
        left: 10px;
        opacity: 0.2;
      }

      &__quote {
        font-style: italic;
        font-size: 1.1em;
        color: #333;
        margin-bottom: 15px;
      }

      &__author {
        font-weight: bold;
        color: #555;
      }
    }
  }

  &__scholarships {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    text-align: center;

    h2 {
      font-size: 2em;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    .home-page__scholarships-button {
      background-color: #005e90;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;

      &:hover {
        background-color: #004f79;
      }
    }
  }

  &__faq {
    text-align: center;
    padding: 40px 20px;

    &-image {
      max-width: 100px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2em;
      margin-bottom: 10px;
    }

    &-button {
      background-color: #005e90;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 1em;

      &:hover {
        background-color: #004f79;
      }
    }
  }
}
