.informacion-carrera {
    padding: 20px;
  }
  
  .seccion-postulacion h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .tabla-postulacion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .tabla-postulacion th, .tabla-postulacion td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .tabla-postulacion th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .tabla-postulacion td:first-child {
    font-weight: bold;
  }
  .conte{
    width: 100%;
    margin: 0% auto;
    
  }