.perfil-de-ingreso {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .texto-perfil {
    flex: 2;
  }
  
  .imagen-perfil {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imagen-perfil img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
  }
  